@{
    ViewBag.Title = "Home Page";


}


<head>
    <title>Title of the document</title>
</head>

<body>
    <div>
        <div id="container"></div>
        <button onclick="myFunction()">Click me</button>
    </div>

</body>



@section Scripts{
    <script>







        var myFunction = function () {



            $.ajax({

                type: "GET",
                url: "http://production.shippingapis.com/ShippingAPITest.dll?API=Verify&XML=<AddressValidateRequest USERID='829STUDE2294'><Revision>1</Revision><Address ID='0'><Address1></Address1><Address2>29851 Aventura </Address2><City></City><State>CA</State><Zip5>92688</Zip5><Zip4></Zip4></Address></AddressValidateRequest>",
                dataType: "xml",
                success: function (response) {
                   // console.log($(response).find("ReturnText").text());
                   // $("#container").append($(response).find("ReturnText").text());
                    console.log(response);
                }
            })



        }










    </script>

}


h1>