@{
    ViewBag.Title = "Home Page";


}


<head>
    <title>Title of the document</title>
</head>

<body>
    <div>
        <div id="container"></div>
        <button onclick="myFunction()">Click me</button>
    </div>

</body>



@section Scripts{
    <script>







        var myFunction = function () {
            var Addres1 = '29851 Aventura';
            var Addres2 = '';
            var City = '';
            var State = 'CA';
            var ZipCode5 = '92688';
            var ZipCode4 = '';
          


            $.ajax({

                type: "GET",
                url: "http://production.shippingapis.com/ShippingAPITest.dll?API=Verify&XML=<AddressValidateRequest USERID='829STUDE2294'><Revision>1</Revision><Address ID='0'><Address1>"+Addres1+"</Address1><Address2>"+Addres2+"</Address2><City>"+City+"</City><State>CA</State><Zip5>"+ZipCode5+"</Zip5><Zip4>"+ZipCode4+"</Zip4></Address></AddressValidateRequest>",
                dataType: "xml",
                success: function (response) {
                   // console.log($(response).find("ReturnText").text());
                   // $("#container").append($(response).find("ReturnText").text());
                    console.log(response);
                }
            })



        }










    </script>

}


h1>